<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>

    <nav>
        <a href="?cmd=ctf_form">Celsius to Fahrenheit</a> |
        <a href="?cmd=ftc_form">Fahrenheit to Celsius</a>
    </nav>

    <main tpl-include="{{ $template }}"></main>

</body>
</html>
